.content {
	composes: flexCol from '../../shared.module.css';
	margin: 0 auto;
	max-width: 80rem;
	gap: var(--puck-spacing-md);
}

/* Description */
.description {
	composes: description from '../../shared.module.css';
	font-size: 1rem;
}

@media (min-width: 1024px) {
	.description {
		font-size: 1.125rem;
	}
}
