@import '@measured/puck/puck.css';

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'Inter', monospace;
}

[class*='_PuckFields-'] [class*='_InputWrapper_'] [class*='_Input_'] {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;

	[class*='_Input-label_'] {
		padding-bottom: 0;
	}
	[class*='_Input-input_'] {
		font-size: 12px;
		padding: 4px 8px;
		border-radius: 4px;
		border: 1px solid #e5e7eb;
		background: #f9fafb;
		color: #1f2937;
		transition: all 0.2s ease-in-out;
		&:focus {
			outline: none;
		}
	}
}
